$MD-1: 880px;
$XL-1: 900px;
$XS: 1080px;
$SM: 1280px;
$MD: 1430px;
$XL: 1440px;

@media only screen and (max-width: $XL) {
	.blogThumbnail {
		display: flex;
		flex-direction: row;

		.blogThumbnailExtra {
			width: 100%;
			align-items: center;
			margin: auto 0px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 950px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: $MD) {
	.blogThumbnail {
		display: flex;
		flex-direction: row;

		.blogThumbnailExtra {
			width: 100%;
			align-items: center;
			margin: auto 0px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 800px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: $SM) {
	.blogThumbnail {
		display: flex;
		flex-direction: row;

		.blogThumbnailExtra {
			width: 100%;
			align-items: center;
			margin: auto 0px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 600px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: $XS) {
	.blogThumbnail {
		display: flex;
		flex-direction: row;
		align-items: center;

		.blogThumbnailExtra {
			width: 100%;
			margin: auto 0px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: $XL-1) {
	.blogThumbnail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.blogThumbnailExtra {
			width: 100%;
			margin: 10px 0px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				width: 100%;
				height: auto;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.breadcrumbTitle {
		white-space: nowrap;
		width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: $MD-1) {
	.blogThumbnail {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.blogThumbnailExtra {
			width: 110%;
			margin: 10px -30px;
			.blogThumbnailExtraImg {
				object-fit: cover;
				width: 100%;
				height: auto;
				border-radius: 2%;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		}
	}
	.blogThumbnailContent {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.nextBox {
	display: flex;
	margin-bottom: 15px;
	img {
		width: 50%;
		padding-right: 15px;
	}
	p {
		font-weight: 500;
	}
}
.blogDetailImgContainer {
	margin: 50px;
	width: 90%;
	.blogDetailImg {
		object-fit: cover;
		display: block;
		width: 100%;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
.breadcrumb {
	margin: 0px -50px;
}
.blogDetailContent {
	text-align: left;
	line-height: 28px;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blogThumbnailDesc {
	font-size: 12px;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blogThumbnailTitle {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
